
header {
    
    display: flex;
    background-color: rgb(248, 216, 174);
    justify-content: space-between;
    gap: 5px;
    


}


nav ul{
    list-style: none;
    color: rgb(3, 3, 94);
    font-weight: 300;
    display: flex;
    gap: 15px;
    

}

footer{
    width: 100%;
    background-color: rgb(248, 216, 174);
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}


