html{
    margin: 1px;
}

header {

    
    display: flex;
    background-color: rgb(248, 216, 174);
    justify-content: space-between;
    clip-path: polygon(0% 0%, 100% 0%, 100% 71%, 0.2% 100%);
    gap: 5px;
    

   
  
}

.list{
    font-family: "Oswald", sans-serif,Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    word-spacing: 20px;
    color: rgb(3, 3, 107);
    margin-right: 1rem;
    border: 0.5px;
    font-style: normal;
   
  }
nav ul{
    list-style: none;
    color: rgb(3, 3, 94);
    font-weight: 300;
    display: flex;
    gap: 15px;
    

}

footer{
    width: 100%;
    background-color: rgb(248, 216, 174);
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}


